
/*PART A(Selectors) Give the h1 header a unique id- “mainTopic” & set its color to blue using the
selector. */
#mainTopic{
    color: blue;
    font-weight: bold;
}

/* Qs2. Align all the text in the page to the center using a universal selector. */
* {
    text-align: center;
} 

 /* Change the font style of all heading tags in the page to ‘Georgia’ */
 h1, h3,h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 /* Set the color of all the paragraphs to white & background color to cornflower
(Without using the element selector- ‘p’ */

.para{
  color: white;
  background-color: cornflowerblue;
  
} 

/* need to understand about this */
/* *:not(p) {
  background-color: cornflowerblue;
} */

/* Select all buttons inside div and change their background color to purple & t
color to azure. */

div button{
  background-color: purple;
  color: azure;
}

/* PART B(Pseduo class & elements) */
 /* Change the button background color to yellow &
over it. */

.myButton:hover { 
  background-color: yellow;
  color: black;
}
/* .myButton:active { 
  background-color: yellow;
  color: black;
} */

 /* /* .myButton:focus {
  background-color: yellow;
  color: black; 
  outline: 2px solid orange; 
}

input[type="checkbox"]:checked + label {
  background-color: yellow;
} */

/* Change the color of every odd numbered paragraph to yellow. (Paragraph 1 */
p:nth-of-type(odd){
  color: yellow;
}

/* Change the color of the first letter of h1 heading to red */
h1::first-letter{
color: red;
}

/* Set the text color of the checkbox label to dark green when the checkbox is
ticked. */
input[type="checkbox"]:checked + label {
  background-color: green;
}

/* Order these rules according to their specificity, from least specific to most
specific. :
- h1 {001}
#mainContent- {100}
.main{010}
- div .main{011} */